hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Start post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}
/* End post navigation links */

/* Start titlebar styling */
.site-header {
  border-top-color: #00ffff !important;
}
/* End titlebar styling */

/* Start background styling */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #8E2DE2, #4A00E0);
  animation: gradient 4s linear infinite;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-color: #8E2DE2;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0% {
      transform: scaleY(0.9);
  }
  50% {
      transform: scaleY(1.1);
  }
  100% {
      transform: scaleY(0.9);
  }
}

@keyframes gradient {
  0% {
      background: linear-gradient(0deg, #8E2DE2, #4A00E0);
  }
  50% {
      background: linear-gradient(0deg, #4A00E0, #8E2DE2);
  }
  100% {
      background: linear-gradient(0deg, #8E2DE2, #4A00E0);
  }
}