<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  <!-- highlight.js support -->
  <link rel="stylesheet" href="/js/highlightjs/styles/github.css">
  <link rel="stylesheet" href="/js/highlightjs/styles/ssms.css" />

  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>

  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>

  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->

  <script>
    var wave1 = Snap.select('#wave1')
    var wave2 = Snap.select('#wave2')
    var wave3 = Snap.select('#wave3')
    var wave1Points = wave1.node.getAttribute('d')
    var wave2Points = wave2.node.getAttribute('d')
    var wave3Points = wave3.node.getAttribute('d')
    var to1 = function(){
      wave1.animate({ d: wave1Points }, 5000, mina.bounce, to2)
    }
    var to2 = function(){
      wave1.animate({ d: wave2Points }, 5000, mina.bounce, to3)
    }
    var to3 = function(){
      wave1.animate({ d: wave3Points }, 5000, mina.bounce, to1)
    }
    to1()
  </script>
</head>
