@charset "utf-8";

$color-scheme-auto: false;
$color-scheme-dark: true;
@import "minimanova/skins/auto";

/* Start background styling */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-left: #fff solid 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00ffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00cccc;
}

body {
    background: #000;
    color: #fff;
}

#waves {
    position: fixed;
    z-index: -50;
    left: 0;
    bottom: 0;
}